#container{
  display: flex;
  justify-content:center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

#button {
    text-align: center;
}

button {
    background-color: green;
    color: white;
    padding:8px;
    font-size:1.8em;
}
