body {
    background-color:#022140; 
}

h1 {
    color:white;
    text-align:center;
}

h2{
    color:white;
}

p {
    color:white;
}

#flexTop {
    display: flex;
    flex-flow:column;

}

#flexMiddel {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    background-color: #265077;
    height:auto;
}

#flexBottom {
    display:flex;
    flex-flow:column;
}

nav a { 
    padding:15px;
    padding-bottom:4px;
    font-size:1.1em;
    text-decoration:none; 
    color: white; 
}

nav a:hover { 
    border-bottom:2px black solid;
    font-size:1.5em;
    transition: .9s;
}

footer {
    color:white;
    text-align: center;
}

nav {
	text-align: center; 
}
 
li {
	color: white; 
	text-align:left; 
}

a {
	color: white; 
	text-align: center; 
}

#gif{
    width: 30%;
    height: 30%; 
}

table, td, tr{
    width: auto;
    height: auto;
    color:white;
    border: 1px solid white;
    border-collapse: collapse; 
} 

#home-link{
    color:red;
}

#scams-link{
    color:green;
}

#secure-link{
    color:yellow;
}

#false-link{
    color:orange;
}

#svg {
    height:200px;
    width:200px;
}